# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Personal
src/assets/img/*
!src/assets/img/favicon.png
!src/assets/img/logo.png
!src/assets/img/body-bg.jpg
!src/assets/img/parallax.jpg
!src/assets/img/service-icon.png


