@use './partials/variables' as *;

/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
/* #endregion RESET */

body{
    font-family: "Ubuntu", sans-serif;
    color: $main_text;
    font-weight: 200;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.active{
    color: $primary_color;
}