@use './partials/variables' as *;

/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
/* #endregion RESET */

body{
    font-family: "Ubuntu", sans-serif;
    color: $main_text;
    font-weight: 200;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.active{
    color: $primary_color;
}

.badge{
    background-color: $primary_color;
    color: black;
    padding: 3px 10px;
    width: fit-content;
    transform: skew(-20deg);
    > .badge-content {
        transform: skew(20deg);
        font-weight: 500;
        font-size: 1.4rem;
    }
}